.forgotPasswordBox{
    background-color: white;
    width: 40vw;
    height: 40vh;
    box-sizing: border-box;
    overflow: hidden; 
}

@media screen and (max-width: 600px) {
   
    .forgotPasswordBox {
      width: 100vw;
      height: 50vh;
    }
}