.loginSignUpContainer{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
}
.loginSignupBox{
    background-color: white;
    width: 40vw;
    height: 80vh;
    box-sizing: border-box;
    overflow: hidden; 
}
.updateProfileHeading{
  text-align: center;
  font: 400 1.6vmax "Roboto";
  color: rgb(86, 79, 79);
  padding: 1.3vmax;
  border-bottom: 1px solid rgb(27, 22, 22);
  width: 50%;
  margin: auto;
}
.updateProfileForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vmax;
    justify-content: space-evenly;
    transition: all 0.5s;
    height: 80%;
}

.updateProfileForm>div{
    display: flex;
    width: 100%;
    align-items: center;
    
}

 .updateProfileForm>div>input{
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    font: 300 1vmax cursive;
    outline: none;

}
 .updateProfileForm>div>svg{
position: absolute;
transform: translate(1vmax);
font-size: 1.6vmax;
color: gray ;

}


#registerImage>img{
    width: 4vmax;
    border-radius: 100%;
}
#registerImage>input{
    display: flex;
    padding: 0vmax 0vmax;
    margin: 4%;
}
#registerImage>input::file-selector-button{
    cursor: pointer;
     height: 3vmax;
     width: 100%;
     z-index: 2;
     border: none;
     margin: 0%;
     font: 400 0.8vmax cursive;
     padding: 0.1vmax;
     transition: all 0.5s;
     color: black;
     background-color: white;
}
#registerImage>input::file-selector-button:hover{
    background-color: rgb(201, 211, 220);
}


.updateProfilebtn{
    border: none;
    background-color: gray;
    color: rgb(12, 11, 11);
    font: 400 1.2vmax "Roboto";
    width: 100%;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 5px black;

}

.loginBtn:hover, .updateProfilebtn:hover{
    background-color: rgb(68, 65, 65);
}
.forgotPassword{
  color: gray;
  text-decoration: none;
  align-self: flex-end;
  transition: all 0.5s;
  font: 500 1vmax "Gill Sans";
}
.forgotPassword:hover{
color: black;
}



@media screen and (max-width: 600px) {
    .loginSignUpContainer {
      background-color: white;
    }
    .loginSignupBox {
      width: 100vw;
      height: 95vh;
    }
  
    .updateProfileForm {
      padding: 5vmax;
    }
  

    .updateProfileForm > div > input {
      padding: 2.5vmax 5vmax;
      font: 300 1.7vmax cursive;
    }
  

    .updateProfileForm > div > svg {
      font-size: 2.8vmax;
    }
  
   
    #registerImage > img {
      width: 8vmax;
      border-radius: 100%;
    }
  
    #registerImage > input::file-selector-button {
      height: 7vh;
      font: 400 1.8vmax cursive;
    }
  
    .updateProfilebtn {
      font: 300 1.9vmax "Roboto";
      padding: 1.8vmax;
    }
  }